{% extends 'base.html' %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <div class="form-row">
        {% for field in form.visible_fields %}
            <div class="col-4">
                {{ field.label }}:
                {{ field }}
            </div>
        {% endfor %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
    </div>
    <div class="mt-2">
        {% if show %}
            <button type="button" class="btn btn-secondary">
                <a href="{% url 'predict_model' %}" style="text-decoration: none; color: white;">Restart</a>
            </button>
        {% else %}
            <input type="button" class="btn btn-secondary" value="Previous" onClick="javascript:history.go(-1);">
        {% endif %}
        {% if not show and predict%}
        <input type="submit" value="Predict" class="btn btn-success">
        {% endif %}
        {% if not show and not predict%}
        <input type="submit" value="Next" class="btn btn-primary">
        {% endif %}
    </div>
</form>

{% if show %}
<p> The model predicted: <b>{{ prediction }}</b></p>
{% endif %}
{% if image_url %}
<img src="{{ image_url }}">
{% endif %}

{% endblock %}