{% extends 'base.html' %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <div class="mt-2">
        {% if show %}
            <button type="button">
                <a href="{% url 'predict_model' %}">Restart</a>
            </button>
        {% else %}
            <input type="button" value="Previous" onClick="javascript:history.go(-1);">
        {% endif %}
        <input type="submit" value={{ predict|yesno:"Predict,Next" }}>
    </div>
</form>

{% if show %}
<p> The model predicted: <b>{{ prediction }}</b></p>
{% endif %}

{% endblock %}